<section id="<%= @merchant.id %>-discount-page">
	<h1>Discounts</h1>
	<section id="discounts">
		<% @merchant.bulk_discounts.each do |discount|%>
		<section id = "discount-<%= discount.id %>">
			<%= link_to "#{discount.id}",  merchant_bulk_discount_path(@merchant.id, discount.id) , method: :get %>
			<%= discount.percentage_discount %>
			<%= discount.quantity_threshold %>
			<%= link_to "Delete", merchant_bulk_discount_path(@merchant.id, discount.id), method: :delete %>
		</section>
			
			<br>
		<% end %>
	</section>
</section>